/** global element styling **/
@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

#page-wrapper {
  background-image: linear-gradient(to bottom, #e0ebe8, #9ca4a2);
  position: relative;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

/** global classes styling **/
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: mixedcase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
}

.grid {
  display: flex;
}

header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e8e8e8;
}
@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
}
@media (max-width: 650px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}
.logo img {
  float: left;
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
@media (max-width: 650px) {
  .logo img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
}
@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
  }
  nav li {
    padding-bottom: 5px;
  }
}
nav ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 650px) {
  nav ul {
    flex-direction: column;
  }
}

#purcell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}
#purcell h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  word-wrap: break-word;
  font-weight: 500;
}
#purcell input[type="email"] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
  margin-bottom: 20px;
}
#purcell input[type="submit"] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: #9ca4a2;
}
#purcell input[type="submit"]:hover {
  background-color: white;
  color: black;
  transition: background-color 1s;
}
@media (max-width: 650px) {
  #purcell {
    margin-top: 120px;
  }
}

#define {
  margin-top: 30px;
}
#define .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: #aacab3;
}
@media (max-width: 550px) {
  #define .icon {
    display: none;
  }
}
#define .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}
@media (max-width: 550px) {
  #define .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}
@media (max-width: 650px) {
  #define {
    margin-top: 0;
  }
}

#design {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
#design iframe {
  max-width: 560px;
  width: 100%;
}

#deliver {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#deliver #twenty,
#deliver #forty,
#deliver #sixty {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  width: calc(100% / 3);
  height: calc(100% / 3);
  border-radius: 50%;
}
#deliver #twenty .level,
#deliver #forty .level,
#deliver #sixty .level {
  color: black;
  padding: 15px 0;
  width: 100%;
  font-weight: 700;
}
#deliver #twenty h2,
#deliver #forty h2,
#deliver #sixty h2 {
  margin-top: 15px;
}
#deliver #twenty ol,
#deliver #forty ol,
#deliver #sixty ol {
  margin: 15px 0;
}
#deliver #twenty ol li,
#deliver #forty ol li,
#deliver #sixty ol li {
  padding: 5px 0;
}
#deliver #twenty button,
#deliver #forty button,
#deliver #sixty button {
  border: 0;
  height: 30px;
  margin: 15px;
  background-color: #e0ebe8;
  font-weight: 400;
}
#deliver #twenty button:hover,
#deliver #forty button:hover,
#deliver #sixty button:hover {
  background-color: white;
  transition: background-color 1s;
}
@media (max-width: 800px) {
  #deliver {
    flex-direction: column;
  }
  #deliver #twenty,
  #deliver #forty,
  #deliver #sixty {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}
